// 弹性布局水平居中
@mixin flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// 弹性布局水平两边对齐
@mixin flex-row-sb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

// 文件省略号
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
